# Visual Studio project files and folders
**/packages/
**/obj/
**/bin/
**/output/
**/Generated/
**/.vs/
*.lock.json
*.nuget.targets
*.user

# Eclipse project files and folders
.classpath
.project
.checkstyle
**/target/
**/.settings
**/target/
**/bin/
rebel.xml

# Temporary excludes
implementation/pct/Framework/
implementation/pct/Styling/
