<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="ACP Devstore Public" value="http://devstore.vanderlande.com/artifactory/api/nuget/acp-nuget-public" />
    <add key="ACP Nexus Snapshot" value="http://dedorawv7:8888/nexus/service/local/nuget/SnapshotsNuget/" />
    <add key="localstore" value="D:\packages" />
  </packageSources>
  <disabledPackageSources>
    <add key="ACP Nexus Snapshot" value="true" />
  </disabledPackageSources>
  <activePackageSource>
    <add key="ACP Devstore Public" value="http://devstore.vanderlande.com/artifactory/api/nuget/acp-nuget-public" />
    <add key="ACP Nexus Snapshot" value="http://dedorawv7:8888/nexus/service/local/nuget/SnapshotsNuget/" />
    <add key="localstore" value="D:\packages" />
  </activePackageSource>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>